.the-card-clicked {
  transform: rotateY(180deg);
}

.totalconfirmed .ct-series-a .ct-area {
  fill: #F08080;
}

.totalactive .ct-series-a .ct-area {
  fill: #9CBEE1;
}

.totalrecovered .ct-series-a .ct-area {
  fill: #1EAD25;
}

.totaldeceased .ct-series-a .ct-area {
  fill: #708090;
}

.totalconfirmed .ct-series-a .ct-line {
  stroke: #E8253D;
}

.totalactive .ct-series-a .ct-line {
  stroke: #1E5BAD;
}

.totalrecovered .ct-series-a .ct-line {
  stroke: #2EA04B;
}

.totaldeceased .ct-series-a .ct-line {
  stroke: #2F4F4F;
}

.error {
  color:#db2269;
  font-size: 10px;
  position: absolute;
  margin: -6px 10px;
}

.responsive-block {
  display: none;
}